main h1 {
    margin-bottom: .5em;
    margin-left: 1em;
}

main > h1 {
    margin-bottom: 1em;
    font-family: "MlkyNice";
}

.prod-discount {
    display: flex;
    background-color: rgb(24, 78, 194);
    margin-bottom: 5em;
    height: 30em;
    align-items: center;
}

.prod-discount > button {
    width: 7%;
    background-color: transparent;
    border-color: transparent;
}

.prod-discount > button > img {
    width: 100%;
}

.prod-discount > img {
    height: 80%;
    width: 80%;
    margin: 0 30px 0 30px;
    border-radius: 10px;
    border: 3px solid white;
}

.prod-discount-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24em;
}

.prod-discount-details h1 {
    margin-left: 0;
    font-size: 40px;
    font-family: "MlkyNice";
}

.prod-discount-details p {
    font-family: "Nunito";
    color: rgb(182, 182, 182);
}

.prod-details-prices > button {
    width: 20em;
    height: 3em;
    background-color: rgb(75, 143, 221);
    color: white;
    border-color: white;
    font-family: "MlkyNice";
    border-radius: 10px;
}

.title-most-purchased {
    display: flex;
    justify-content: space-between;
    align-self: center;
}

.title-most-purchased > h1 {
    font-family: "MlkyNice";
}

.title-most-purchased > a {
    display: flex;
    align-items: center;
    width: 7em;
    justify-content: space-between;
    margin-right: 2em;
    margin-bottom: 2em;
    font-size: 30px;
    color: inherit;
    font-family: "MlkyNice";
}

.prod-famous {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: rgb(30, 123, 230);
}

.prod-famous-item {
    display: flex;
    width: 45%;
    height: 15em;
    margin-bottom: 1em;
    margin-top: 1em;
    border-radius: 1.5em;
    align-items: center;
    justify-content: center;
    padding-left: 1%;
    padding-right: 1%;
    background-color: #a9eaeb;
}

.prod-famous-item > img {
    width: 40%;
    height: 80%;
    margin-right: 3%;
    border: 2px solid rgb(9, 7, 114);
    border-radius: 1em;
}

.prod-famous-item-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 80%;
}

.prod-famous-item-info h2 {
    font-family: "Nunito";
    margin-top: 3%;
    color: rgb(9, 27, 131);
}

.prod-famous-item-info > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2%;
}

.prod-famous-item-info h3 {
    font-family: "Nunito";
    color: rgb(12, 33, 148);
}

.prod-famous-item-info > div > button {
    width: 20em;
    height: 3em;
    background-color: rgb(30, 123, 230);
    font-family: "MlkyNice";
    border-radius: 10px;
    margin-top: 10%;
    border: 1px solid rgb(9, 7, 114);
    color: white;
}