main {
    display: flex;
}

aside {
    border-right: 1px solid white;
    padding-left: 3em;
    padding-right: 1em;
    width: 16em;
    background-color: rgb(24, 78, 194);
}

aside > h1 {
    margin-bottom: 1.5em;
    margin-top: 1em;
    margin-left: 1em;
    font-family: "MlkyNice";
    font-size: 30px;
}

.filter-volume {
    margin-bottom: 3em;
}

aside h2 {
    margin-bottom: .5em;
    font-family: "Nunito";
}

aside > div > div {
    display: flex;
    margin-bottom: .3em;
}

aside div div > input {
    margin-right: .5em;
    width: 2em;
}

aside p {
    font-size: 17px;
    font-family: "Nunito";
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    font-family: "Nunito";
}

.prod-item {
    display: flex;
    width: 31em;
    height: 20em;
    align-items: center;
    background-color: #a9eaeb;
    border-radius: 1.5em;
}

.prod-item > img {
    width: 45%;
    height: 50%;
    margin-right: 1em;
    margin-left: 1em;
    border: 2px solid rgb(9, 7, 114);
    border-radius: 1em;
}

.prod-item-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
    margin-right: 1em;
    color: rgb(12, 33, 148);
}

.prod-item-info > h1 {
    color: rgb(9, 27, 131);
}

.prod-item-info button {
    width: 15em;
    height: 3em;
    background-color: rgb(30, 123, 230);
    font-family: "MlkyNice";
    border-radius: 10px;
    margin-top: 10%;
    border: 1px solid rgb(9, 7, 114);
    color: white;
}
